
  <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navegador">

    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./assets/logo.png" alt="" class="logo"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active vistas" aria-current="page" href="#" id="pinicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active vistas" aria-current="page" href="#" id="pproductos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active vistas" aria-current="page" href="#" id="pquienes">¿Quienes Somos? </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active vistas" aria-current="page" href="#" id="pcontactos">Contactos</a>
          </li>
        </ul>

        <form class="d-flex" role="search" id="buscador">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit" id="botonb">Buscar</button>
        </form>

        <button mat-button class="boton"><mat-icon>account_circle</mat-icon></button>

        <button mat-icon-button class="example-icon favorite-icon boton" aria-label="Example icon-button with heart icon">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>

    </div>
  </nav>


