<!--<div class="container text-center">

    <div class="row">

        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="./assets/destacados/mesa1.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="./assets/destacados/mesa2.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="./assets/destacados/sillon1.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="./assets/destacados/mueble1.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="./assets/destacados/mueble2.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
   
</div>-->

<mat-grid-list cols="4" rowHeight="1:1.5">

    <mat-grid-tile>
        <div class="card" style="width: 18rem;">
            <div class="imagenescard">
                <img src="./assets/destacados/mesa1.webp" class="card-img-top" alt="...">
            </div>
            
            <div class="card-body">
                <h5 class="card-title">Juego de comedor Muebles Nifran Nórdico color melamina con 6 sillas mesa de 140cm de largo máximo x 80cm de ancho x 78cm de alto</h5>
                <h4 class="card-text">$375.000</h4>
                <a href="#" class="btn btn-primary agregar">Agregar al <mat-icon class="carrito">shopping_cart</mat-icon> </a>
                
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="width: 18rem;">
            <div class="imagenescard">
                <img src="./assets/destacados/mesa2.webp" class="card-img-top" alt="...">
            </div>
            
            <div class="card-body">
                <h5 class="card-title">Mesa Y 4 Sillas Laqueada Reforzada Juego De Comedor  </h5>
                <h4 class="card-text">$199.972</h4>
                <a href="#" class="btn btn-primary agregar">Agregar al <mat-icon class="carrito">shopping_cart</mat-icon> </a>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="width: 18rem;">
            <div class="imagenescard">
                <img src="./assets/destacados/sillon1.webp" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Sillón Sofa Esquinero Rinconero 210 Italiano Tela Rustica</h5>
                <h4 class="card-text">$496.999</h4>
                <a href="#" class="btn btn-primary agregar">Agregar al <mat-icon class="carrito">shopping_cart</mat-icon> </a>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="card" style="width: 18rem;">
            <div class="imagenescard">
            <img src="./assets/destacados/mueble1.webp" class="card-img-top" alt="...">
            </div>

            <div class="card-body">
                <h5 class="card-title">Modular Organizador Orlandi 204 Linosa Cuo</h5>
                <h4 class="card-text">$269.999</h4>
                <a href="#" class="btn btn-primary agregar">Agregar al <mat-icon class="carrito">shopping_cart</mat-icon> </a>
            </div>
        </div>
    </mat-grid-tile>

</mat-grid-list>